Repository Ehtesham826/mono-repo-py: changes, and which CircleCI parameters are due for each by the changed paths.
All: auth, payment, search

.circleci/config.yml:

version: 2.1

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  trigger-services:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            auth/.* auth true
            payment/.* payment true
            search/.* search true

auth
  auth/main.py
Due: auth

root
  search/.circleci/config.yml
Due: search

root
  .circleci/config.yml
Due: none

root
  auth/.circleci/auth-config.yml
  payment/.circleci/payment-config.yml
  search/.circleci/search-config.yml
Due: auth, payment, search

root
  .circleci/config.yml
  auth/.circleci/config.yml
  payment/.circleci/config.yml
  search/.circleci/config.yml
Due: auth, payment, search

root
  auth/.circleci/config.yml
Due: auth

root
  auth/Dockerfile
Due: auth

root
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

payment
  payment/Dockerfile
Due: payment

root
  search/Dockerfile
Due: search

root
  payment/k8s/payment-deployment.yaml
Due: payment

root
  payment/Dockerfile
Due: payment

root
  .circleci/continue-config.yml
Due: none

auth
  auth/Dockerfile
Due: auth

auth
  .circleci/continue-config.yml
Due: none

workflow
  .circleci/continue-config.yml
Due: none

workflow
  search/Dockerfile
Due: search

workflow
  payment/Dockerfile
Due: payment

workflow
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none
