Repository Ehtesham826/mono-repo-py: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-workflow=.circleci/config.yml, run-payment-workflow=.circleci/config.yml, run-search-workflow=.circleci/config.yml

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2


workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            auth/.* run-auth-workflow .circleci/config.yml
            payment/.* run-payment-workflow .circleci/config.yml
            search/.* run-search-workflow .circleci/config.yml

workflow
  .circleci/config.yml
Due: none

workflow
  auth/Dockerfile
Due: run-auth-workflow=.circleci/config.yml

workflow
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

workflow
  payment/Dockerfile
Due: run-payment-workflow=.circleci/config.yml

workflow
  .circleci/continue-config.yml
Due: none

workflow
  .circleci/continue-config.yml
  auth/.circleci/config.yml
  payment/.circleci/config.yml
  search/.circleci/config.yml
Due: run-auth-workflow=.circleci/config.yml, run-payment-workflow=.circleci/config.yml, run-search-workflow=.circleci/config.yml

workflow auth
  auth/Dockerfile
Due: run-auth-workflow=.circleci/config.yml

workflow auth
  .circleci/continue-config.yml
Due: none

workflow payment
  payment/Dockerfile
Due: run-payment-workflow=.circleci/config.yml

workflow payment
  .circleci/continue-config.yml
Due: none

workflow payment
  auth/Dockerfile
Due: run-auth-workflow=.circleci/config.yml

workflow payment
  .circleci/config.yml
  .circleci/dynamic_config.yml
Due: none

Added auth submodule
  .gitmodules
  auth/.DS_Store
  auth/.circleci/config.yml
  auth/.env
  auth/Dockerfile
  auth/helm/Chart.yaml
  auth/helm/templates/_helpers.tpl
  auth/helm/templates/deployment.yaml
  auth/helm/templates/service.yaml
  auth/helm/values.yaml
  auth/k8s/auth-deployment.yaml
  auth/main.py
  auth/requirements.txt
Due: run-auth-workflow=.circleci/config.yml

Updated submodule 'search'
  .DS_Store
  payment/.DS_Store
  payment/.circleci/config.yml
  payment/.env
  payment/Dockerfile
  payment/helm/Chart.yaml
  payment/helm/templates/_helpers.tpl
  payment/helm/templates/deployment.yaml
  payment/helm/templates/service.yaml
  payment/helm/values.yaml
  payment/k8s/payment-deployment.yaml
  payment/main.py
  payment/requirements.txt
  search/.DS_Store
  search/.circleci/config.yml
  search/.env
  search/Dockerfile
  search/helm/Chart.yaml
  search/helm/templates/_helpers.tpl
  search/helm/templates/deployment.yaml
  search/helm/templates/service.yaml
  search/helm/values.yaml
  search/k8s/search-deployment.yaml
  search/main.py
  search/requirements.txt
Due: run-payment-workflow=.circleci/config.yml, run-search-workflow=.circleci/config.yml

Updated submodule 'search'
  .gitmodules
Due: none

Added payment submodule
  .gitmodules
Due: none

root
  .circleci/dynamic_config.yml
Due: none
