Repository Ehtesham826/mono-repo-py: changes, and which CircleCI parameters are due for each by the changed paths.
All: auth, payment, search

.circleci/config.yml:

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            auth/.* auth true
            payment/.* payment true
            search/.* search true

add submodule
  .circleci/config.yml
Due: none

add submodule
  .circleci/continue-config.yml
Due: none

addd command
  auth/main.py
Due: auth

addd command
  .circleci/config.yml
Due: none

addd command
  search/main.py
Due: search

addd command
  auth/.circleci/config.yml
  payment/.circleci/config.yml
  search/.circleci/config.yml
Due: auth, payment, search

addd command
  payment/main.py
Due: payment

addd command to auth
  auth/.circleci/config.yml
Due: auth

addd command to payment
  payment/.circleci/config.yml
Due: payment

addd command to searcch
  search/.circleci/config.yml
Due: search

config to main
  .DS_Store
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

command in seearch
  search/main.py
Due: search

remoe root conffig
  .circleci/config.yml
Due: none

remoe root conffig
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

health in payment
  payment/main.py
Due: payment

root
  .circleci/config.yml
Due: none

root
  .circleci/continue-config.yml
  auth/.circleci/config.yml
  payment/.circleci/config.yml
  search/.circleci/config.yml
Due: auth, payment, search

auth
  auth/main.py
Due: auth

root
  .circleci/config.yml
  .circleci/continue-config.yml
  auth/.circleci/config.yml
  payment/.circleci/config.yml
  search/.circleci/config.yml
Due: auth, payment, search

auth
  auth/.circleci/config.yml
Due: auth

search
  search/main.py
Due: search

paymene
  payment/main.py
Due: payment

root
  auth/.circleci/config.yml
  payment/.circleci/config.yml
  search/.circleci/config.yml
Due: auth, payment, search

root
  payment/.circleci/config.yml
  search/.circleci/config.yml
Due: payment, search

searc
  search/.circleci/config.yml
Due: search

payment
  payment/.circleci/config.yml
Due: payment

root
  payment/.circleci/config.yml
Due: payment

root
  search/.circleci/config.yml
Due: search

search
  search/.env
Due: search

payment
  payment/main.py
Due: payment
